<template>
  <div>
    <canvas ref="webglscnd"></canvas>
    <div id="play">Play music</div>
    <div id="cut">Stop music</div>
  </div>
</template>

<script>
import * as THREE from "three";
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls.js";
import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
export default {
  mounted() {
    const canvas = this.$refs.webglscnd;
    // Scene
    const scene = new THREE.Scene();
    //Fog
    const fog = new THREE.Fog("#F5DEB3", 2, 15);
    scene.fog = fog;
    // Textures
    const textureLoader = new THREE.TextureLoader();
    const grassColorTexture = textureLoader.load("/textures/color.jpeg");
    const grassAmbientOcclusionTexture = textureLoader.load(
      "/textures/ambientOcclusion.jpeg"
    );
    const grassNormalTexture = textureLoader.load("/textures/normal.jpeg");
    const grassRoughnessTexture = textureLoader.load(
      "/textures/roughness.jpeg"
    );
    // Floor//
    const floor = new THREE.Mesh(
      new THREE.PlaneGeometry(20, 20),
      new THREE.MeshStandardMaterial({
        map: grassColorTexture,
        aoMap: grassAmbientOcclusionTexture,
        normalMap: grassNormalTexture,
        roughnessMap: grassRoughnessTexture,
      })
    );
    grassColorTexture.repeat.set(8, 8);
    grassAmbientOcclusionTexture.repeat.set(8, 8);
    grassNormalTexture.repeat.set(8, 8);
    grassRoughnessTexture.repeat.set(8, 8);
    grassColorTexture.wrapS = THREE.RepeatWrapping;
    grassAmbientOcclusionTexture.wrapS = THREE.RepeatWrapping;
    grassNormalTexture.wrapS = THREE.RepeatWrapping;
    grassRoughnessTexture.wrapS = THREE.RepeatWrapping;
    grassColorTexture.wrapT = THREE.RepeatWrapping;
    grassAmbientOcclusionTexture.wrapT = THREE.RepeatWrapping;
    grassNormalTexture.wrapT = THREE.RepeatWrapping;
    grassRoughnessTexture.wrapT = THREE.RepeatWrapping;
    floor.geometry.setAttribute(
      "uv2",
      new THREE.Float32BufferAttribute(floor.geometry.attributes.uv.array, 2)
    );
    floor.rotation.x = -Math.PI * 0.5;
    floor.position.y = 0;
    scene.add(floor);
    /**
     * Lights
     */
    // Ambient light
    const ambientLight = new THREE.AmbientLight("#b9d5ff", 0.12);
    scene.add(ambientLight);
    // Directional light
    const moonLight = new THREE.DirectionalLight("#b9d5ff", 0.12);
    moonLight.position.set(4, 5, -2);
    scene.add(moonLight);
    //Ghosts
    const ghost1 = new THREE.PointLight("#ff00ff", 2, 3);
    const ghost2 = new THREE.PointLight("#00ffff", 2, 3);
    const ghost3 = new THREE.PointLight("#ffff00", 2, 3);
    const ghost4 = new THREE.PointLight("#ffff00", 2, 6);
    scene.add(ghost1, ghost2, ghost3, ghost4);
    // Model

    const loader = new GLTFLoader().setPath("tree/");
    loader.load("scene.gltf", function (gltf) {
      gltf.scene.position.y = 0;

      gltf.scene.scale.set(0.01, 0.01, 0.01);
      scene.add(gltf.scene);
    });

    /**
     * Sizes
     */
    const sizes = {
      width: window.innerWidth,
      height: window.innerHeight,
    };
    window.addEventListener("resize", () => {
      // Update sizes
      sizes.width = window.innerWidth;
      sizes.height = window.innerHeight;
      // Update camera
      camera.aspect = sizes.width / sizes.height;
      camera.updateProjectionMatrix();
      // Update renderer
      renderer.setSize(sizes.width, sizes.height);
      renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
    });
    /**
     * Camera
     */
    // Base camera
    const camera = new THREE.PerspectiveCamera(
      75,
      sizes.width / sizes.height,
      0.1,
      100
    );
    camera.position.x = 4;
    camera.position.y = 2;
    camera.position.z = 5;
    scene.add(camera);

    // Controls
    const controls = new OrbitControls(camera, canvas);
    controls.target.set(0, 0.75, 0);
    controls.autoRotate = true;
    controls.enableDamping = true;
    /**
     * Renderer
     */
    const renderer = new THREE.WebGLRenderer({
      canvas: canvas,
    });
    renderer.setSize(sizes.width, sizes.height);
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
    renderer.setClearColor("#F5DEB3");

    // // //
    // DEBUT MUSIQUE
    // // //
    const music = new THREE.AudioListener();
    camera.add(music);
    // create a global audio source
    const sound = new THREE.Audio(music);
    // load a sound and set it as the Audio object's buffer
    const audioLoader = new THREE.AudioLoader();
    audioLoader.load("/music.mp3", function (buffer) {
      sound.setBuffer(buffer);
      sound.setLoop(true);
      // sound.setVolume(0.5);
      // sound.play();
    });

    var item2 = document.getElementById("play");
    var item3 = document.getElementById("cut");
    item3.style.opacity = "0";
    item3.style.display = "none";
    item3.style.transition = "all .3s ease";
    function play() {
      item2.onclick = function () {
        sound.setVolume(0.5);
        sound.play();
        item2.style.opacity = "0";
        item2.style.display = "none";
        item2.style.transition = "all .3s ease";

        item3.style.opacity = "1";
        item3.style.display = "block";
        item3.style.transition = "all .3s ease";
      };
    }
    play();

    function cut() {
      item3.onclick = function () {
        sound.setVolume(0);
        sound.stop();
      };
    }
    cut();
    /**
     * Animate
     */
    const clock = new THREE.Clock();
    const tick = () => {
      const elapsedTime = clock.getElapsedTime();
      // Ghosts
      const ghost1Angle = elapsedTime * 0.5;
      ghost1.position.x = Math.cos(ghost1Angle) * 4;
      ghost1.position.z = Math.sin(ghost1Angle) * 4;
      ghost1.position.y = Math.sin(elapsedTime * 3);

      const ghost2Angle = -elapsedTime * 0.32;
      ghost2.position.x = Math.cos(ghost2Angle) * 5;
      ghost2.position.z = Math.sin(ghost2Angle) * 5;
      ghost2.position.y =
        Math.sin(elapsedTime * 4) + Math.sin(elapsedTime * 2.5);

      const ghost3Angle = -elapsedTime * 0.18;
      ghost3.position.x =
        Math.cos(ghost3Angle) * (7 + Math.sin(elapsedTime * 0.32));
      ghost3.position.z =
        Math.sin(ghost3Angle) * (7 + Math.sin(elapsedTime * 0.5));
      ghost3.position.y =
        Math.sin(elapsedTime * 4) + Math.sin(elapsedTime * 2.5);

      ghost4.position.set(0, 4, 0);

      // Update controls
      controls.update();
      // Render
      renderer.render(scene, camera);
      // Call tick again on the next frame
      window.requestAnimationFrame(tick);
    };
    tick();
  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}

canvas {
  max-height: 100vh !important;
}

#play {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%);
  background: white;
  padding: 10px 30px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
}

#cut {
  position: absolute;
  top: 80vh;
  left: 50vw;
  transform: translateX(-50%);
  background: white;
  padding: 10px 30px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
}
</style>